{
  "semi": true,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "legacy/**/*.js"],
      "options": {
        "tabWidth": 4,
        "parser": "flow",
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
